<h1>Hot Reads</h1>

<table class="table table-striped">
  <% @hot_reads.each do |link| %>
  <tbody>
    <tr>
      <td><%= link_to link.url %></td>
      <td>Read Count: <%= "#{link.reads}" %></td>
    </tr>
  </tbody>
  <% end %>
</table>
